# Mai committare ROM o materiale coperto da copyright
*.smc
*.sfc
*.srm
*.state

# Output e build
/build/
/out/
*.png
*.wav
*.mp4
/build/

# macOS
.DS_Store

# stray build output
/mcpaint-cli
/mcpaint-song
/mcpaint
